Source: lxd-image-server
Section: devel
Priority: extra
Maintainer: devops <devops@avature.net>
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 9),
               dh-exec,
               python3,
               python-dev,
               python-pip,
               dh-virtualenv (>= 0.8)

Package: lxd-image-server
Architecture: all
Depends: python3,
         openssl,
         nginx
Description: Package to create and manage a simplestreams lxd image server on top of nginx.
