[Unit]
Description=Daemon to update lxd image server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
User=lxdadm
StandardOutput=journal+console
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"

ExecStart=/opt/lxd-image-server/bin/lxd-image-server --log-file /var/log/lxd-image-server/lxd-image-server.log watch
