#!/usr/bin/make -f

# Use for debug building
# export DH_VERBOSE=1

export DH_VIRTUALENV_INSTALL_ROOT=/opt

%:
	dh $@ --with python-virtualenv --builtin-venv --python /usr/bin/python3

override_dh_compress:
	dh_compress --exclude=README.md

override_dh_installman:
	mkdir -p docs
	pandoc README.md --standalone -f markdown -t man > docs/lxd-image-server.1
	dh_installman --all
