#!/usr/bin/make -f

# Use for debug building
# export DH_VERBOSE=1

export DH_VIRTUALENV_INSTALL_ROOT=/opt
export DH_VIRTUALENV_ARGUMENTS :=  --python python3

%:
		#dh $@ --with python-virtualenv
		dh $@ --buildsystem=dh_virtualenv

override_dh_virtualenv:
		dh_virtualenv --python python3 --setuptools
		pip install setuptools
		pip install tox

override_dh_auto_test:
		pip install setuptools
		./test/utest
